body{
    background: url('Banner.png');
    background-size: cover;
}

#principal{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fdcce6;
    width: 880px;
    height: 640px;
    border-radius: 30px;
}

.carta{
    width: 50%;
    margin: 2%;
    color: black;
    font-size: 21px;
    font-family: 'Comic Sans MS', cursive;
    text-decoration: underline black;
}

@media (max-width: 767px) {
    #principal{
        width: 100vh;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: none;
    }
    body{
        margin: 1%;
        background-color: #ffb6c1;
    }

    .carta{
        margin-left: 1%;
        margin-right: 1%;
        width: 90%;
        font-size: 18px;
    }
  }